
/* Remove default focus styles */
.ProseMirror {
  outline: none;
  border: none;
}

/* Remove any focus ring */
.ProseMirror:focus {
  outline: none;
}

/* Optional: make it feel like plain text */
.ProseMirror p {
  margin: 0;
}

/* Heading styles */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.1;
    text-wrap: pretty;
  }


  h1 {
    font-size: 1.4rem;
    font-weight: 600;
    margin: 4px 0;
  }

  h2 {
    font-size: 1.2rem;
  }

  h3 {
    font-size: 1.1rem;
  }

  h4,
  h5,
  h6 {
    font-size: 1rem;
  }